.editProfilePage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f5f7fb;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
}

.profileForm {
  width: 380px;
  background: white;
  padding: 28px;
  border-radius: 16px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);

  display: flex;
  flex-direction: column;
  gap: 14px;
}


.profileForm input,
.profileForm select {
  padding: 10px 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
}

.profileForm input:focus,
.profileForm select:focus {
  border-color: #3b82f6;
  outline: none;
}


.avatarWrapper {
  position: relative;
  width: 120px;
  height: 120px;
  margin: auto;
  cursor: pointer;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid white;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.55);
  color: white;
  font-size: 12px;
  padding: 4px 0;
  border-radius: 0 0 50% 50%;
  opacity: 0;
  transition: 0.2s;
}

.avatarWrapper:hover .overlay {
  opacity: 1;
}


.submitBtn {
  padding: 12px;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  background: #3b82f6;
  color: white;
  cursor: pointer;
}

.submitBtn:hover {
  background: #2563eb;
}
