.editProfilePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0f172a;
  color: #e2e8f0;
  min-height: 97vh;
  padding: 2rem 1rem;
  font-family: 'Inter', sans-serif;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.profileForm {
  background-color: #0b1b2b;
  padding: 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 450px;
  border: 1px solid #1e293b;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.avatarWrapper {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  cursor: pointer;
}

.avatarWrapper img.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #16a34a;
}

.avatarWrapper .overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  color: #e2e8f0;
  font-size: 0.9rem;
  padding: 0.3rem 0;
  border-radius: 0 0 50% 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.avatarWrapper:hover .overlay {
  opacity: 1;
}

.profileForm select,
.profileForm input[type="text"],
.profileForm input[type="date"] {
  background-color: #1e293b;
  color: #e2e8f0;
  border: 1px solid #334155;
  border-radius: 8px;
  padding: 10px 14px;
  font-size: 1rem;
  outline: none;
  transition: all 0.3s ease;
}

.profileForm select:focus,
.profileForm input[type="text"]:focus,
.profileForm input[type="date"]:focus {
  border-color: #16a34a;
  box-shadow: 0 0 5px #16a34a;
}

.submitBtn {
  background-color: #1dda62;
  color: #0b1b2b;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
}

.submitBtn:hover{
    background-color: cadetblue;
}


@media (max-width: 480px) {
  .profileForm {
    padding: 1.5rem;
  }

  .avatarWrapper {
    width: 100px;
    height: 100px;
  }
}




.heer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  color: white;
  font-weight: 500;
   background-color: #2c3e50;
    background: #0f172a;
    border-bottom: 2px solid #1e293b;
}


.header-left {
  flex: 1;
  font-size: 20px;
  font-weight: bold;
}


.header-cent {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 35px;
  font-size: 16px;
}


.header-righ {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.header-item {
  cursor: pointer;
}

.header-item:hover {
  color: #22C55E;
}
